* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
}

div#stats {
    color: white;
}

div#listHorizontal {
    padding: 100px;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: auto;
}

div#listHorizontal div.order {
    border: 3px solid white;
    border-radius: 10px;
    filter: drop-shadow(-35px 5px 32px #6c2861);
    height: 400px;
    width: 250px;
    flex-shrink: 0;
    background-color: black;
    padding-left: 15px;
    margin-left: 15px;
}
div#listHorizontal div.order h3 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
div#orderInput {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    width: 70%;
    background: transparent;
    border-radius: 20px;
    font-size: 30px;
    height: 50px;
}

div#orderInput input {
    width: 100%;
    margin: auto;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    outline: none;
    padding: 0px 40px;
    font-size: 30px;
    color: white;
}

div ul li {
    list-style-type: none;
    font-size: 20px;
    color: white;
}
