* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

div#listHorizontal {
    display: flex;
    border: 2px solid black;
    flex-direction: row-reverse;
}

div#listHorizontal div.order {
    border: 2px solid black;
    height: 400px;
    width: 200px;
}
div#orderInput {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px solid black;
}

div ul li {
    list-style-type: none;
    font-size: 30px;
}

div input {
    width: 200px;
    font-size: 30px;
}
